<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Nav.css" class="css">
    <title>JH Joinery</title>
</head>
<body>
    
<div id="Bar">

<div class="navRow">
<div class="left">
    <img src="/Images/Logo.png" alt="" class="logo">
</div>
<div class="middle">
   
</div>
<div class="right">
<a href="#" class="nav-link">Home</a>
<a href="#" class="nav-link">About Us</a>
<a href="#" class="nav-link">Our Services</a>
<a href="#" class="nav-link">Gallery & Projects</a>
<a href="#" class="nav-link">Contact</a>

</div>

</div>

</div>

</body>
</html>