<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="Nav.css" class="css"> -->
    <title>JH Joinery</title>
</head>
<body>
    
<div id="Bar">

<div class="navRow">
<div class="left">
    <img src="/Images/Logo.png" alt="" class="logo">
</div>
<div class="middle">
   
</div>
<div class="right">
<a href="/Homepage/Index.html" class="nav-link">Home</a>
<a href="/Services/Services.html" class="nav-link">Our Services</a>
<a href="/Gallery/Gallery.html" class="nav-link">Gallery</a>
<a href="/Contact/Contact.html" class="nav-link">Contact</a>

</div>

</div>

</body>
</html>