body{
    margin: 0;
    padding: 0; 
    background-color: #E5F3FD;
    font-family:sans-serif;
}

#Bar{
    width: 100%;
    height: 130px;
    background-color: #394053 ;
    display: flex;
    /* padding:1%; */
}

.left img{
    width: auto;
    height: 80%;
}

.navRow{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.left{
    width: 33.33%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.middle{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right{
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.right a{
    text-decoration: none;
    color: #fff;
    font-size: 26px;
    font-weight: bold;
    transition: transform 0.3s ease-in-out;
}

.right a:hover{
    color: white;
    transform: translate(0px, -8px);
}
