
<link rel="stylesheet" href="Slideshow.css">


<div id="slideshow">

 <img id="slideImage" src="" alt="Slideshow image">
 <div class="textBox">
    <h2 id="slideTitle">JH Joinery</h2>
    <p id="slideDescription">At JH Joinery, we take pride in delivering high-quality joinery and carpentry services tailored to your needs. From bespoke woodwork and fitted interiors to doors, flooring, and general joinery, we combine skilled craftsmanship with attention to detail to create durable, professional finishes. We are committed to providing reliable service, honest workmanship, and results our customers can be proud of.</p>
 </div>

</div>
  <script src ="Slideshow.js"></script> 

