 body{
  overflow-x: hidden;
 }
 #slideshow {
    width:100%;
    height:600px;
    display:flex;
    justify-content: center;
    align-items:center;

  }

  .slideImage {
    width: 100%;
    height: 600px;;
    display: block;
  }
  .textBox {
    position: absolute;
    height:30%;
    width:30%;
    background-color: rgba(0, 0, 0, 0.65);
    color: #fff;
    padding: 10px;
    border-radius: 4px;
    z-index: 9999;
    /* top:30%; */
    left:10%;
    border-radius:15px;
    
  }
  #slideTitle {
    font-size: 26px;
    margin-bottom: 10px;
    font-weight:900;
  }
  #slideDescription {
    font-size: 18px;
    line-height: 1.5;
    font-weight:400;
  }
